<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <header>
        <h1> Create New Account </h1>
        {% if not_available %}
            <p>This username is not available</p>
        {% endif %}
    </header>
    <div>
        <form>
        <p> Username </p>
        <input type="text" name="username">
        <p> Password </p>
        <input type="password" name="password">
        <button formaction="/register" formmethod='POST' id='create-new-account-create-btn'>
             Create
        </button>
        </form>
        <a href="/">
        <button id='create-new-account-back-btn'>
            Back 
        </button>
        </a>

    </div>
</body>

</html>